  <!-- joining -->
        <div class="container Joining">
            <div class="card qetah-family" data-aos="fade-up" data-aos-anchor-placement="center-center">
                <div class="card-head">
                    <p class="card-title text-center">Join Qetah Family</p>
                    <p class="card-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor repudiandae odio qui veniam vero modi officia natus quo, temporibus amet dolorem dignissimos neque eveniet nemo rem error placeat fuga quisquam.</p>
                    <div class="field">
                        <input type="email" class="field-text" placeholder="Email Address" />
                    </div>
                    <button class="btn btn-secondary btn-pill text-center">SUBMIT</button>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>

 <!-- footer  -->
        <footer>
            <div class="container social">
                <div class="logo">
                    <img src="/assets/qetah/images/black-qetah-removebg-preview.png" alt="" width="100px">
                </div>
                <div class="links">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./contact-us.html">Contact Us</a></li>
                        <li><a href="./story.html">About Us</a></li>
                        <li><a href="">Exchange & Refund</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="information">
                    <div class="p-info">
                        <p class="desc"><i class="bx bxs-phone"></i>+97450455909</p>
                        <p class="desc"><i class="bx bxl-gmail"></i>info@qetah.qa</p>
                    </div>
                    <div class="social-logo">
                        <button class="btn btn-light btn-icon btn-circle btn-circle-sm bx bxl-facebook"></button>
                        <button class="btn btn-light btn-icon btn-circle btn-circle-sm bx bxl-twitter"></button>
                        <button class="btn btn-light btn-icon btn-circle btn-circle-sm bx bxl-google"></button>
                    </div>
                </div>
                <div class="quote">
                    <i class="bx bxs-quote-alt-left"></i>
                    The only way to do great work is to love what you do. - Steve Jobs
                    <i class="bx bxs-quote-alt-right"></i>
                </div>
            </div>
        </footer>
        <hr class="copy-right-hr">
        <div class="copy-right text-center">&copy; 2022 Qetah.Qa All Rights Reserved</div>