 <!-- Student Header -->
  <header class="nxt-header program-header">
    <div class="navbar-brand program-header-navbar" :class="{'shifted-navbar': isStatic}">
        <a href="#" class="sm-logo">
            <img src="/assets/qetah/images/black-qetah-removebg-preview.png" class="sm-img" alt="Responsive Logo"
                width="150px" />
        </a>
        <nav class="collapse navbarDrop" id="mobileMenu" x-show="open" @click.outside="open = false">
            <ul>
                <li>
                    <a class="has-ripple" href="/index">Home</a>
                </li>
                <li>
                    <a class="has-ripple" href="/story">Our Story</a>
                </li>
                <li>
                    <a class="has-ripple" href="/Blogs">Blogs</a>
                </li>
                <li>
                    <a class="has-ripple" href="/contact-us">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="navbar-brand-lt">
        <button class="navbar-toggler d-xl-none navbarDropToggler" type="button" data-target="#mobileMenu"
            aria-controls="mobileMenu">
            <i class='bx bx-menu-alt-right'></i>
        </button>
        <button class="sidebar-toggler d-xl-none navbarDropToggler" id="toggleButton" type="button"
            data-target="#mobileMenu" aria-controls="sidebarMenu">
            <i class="bx bx-sidebar"></i>
        </button>
        <nav class="no-collapse">
            <ul>
             <li class="nav-drop-wrap res-link">
                        <a class="nav-icon-link has-ripple drop-indicator navDropToggler" href="javascript:void(0)">
                            <span class="badge badge-secondary badge-pill noti-badge">55</span>
                            <div x-data="{ isOpenRight: false }">
                                <i class='bx bx-heart' @click="isOpenRight = true"></i>
                                <div class="offcanvas offcanvas-right" :class="{ 'open': isOpenRight }">
                                    <div class="offcanvas-header">
                                        Add to Wishlist
                                        <button class="btn-close" @click="isOpenRight = false"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <div class="items d-flex">
                                            <div class="check-item">
                                                <label class="check check-secondary"><input type="checkbox" /></label>
                                            </div>
                                            <img src="/assets/qetah/images/nike-product.jpg" alt="" class="offcanvas-image">
                                            <div class="text">
                                            <p class="offcanvas-title">Nike Air Space X</p>
                                            <div class="quantity-counter">
                                                    <p class="price">$523.00</p>
                                                    <div class="counter">
                                                        <button class="btn btn-light btn-icon btn-circle btn-circle-sm bx bx-minus counter-decrement decrement"></button>
                                                        <input class="counter-value value" type="number" value="0" >
                                                        <button class="btn btn-light btn-icon btn-circle btn-circle-sm bx bx-plus counter-increment increment"></button>
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>      
                                    <div class="offcanvas-foot">
                                        <button class="btn btn-remove">Delete</button>
                                        <button class="btn btn-cart">Add to cart</button>
                                    </div>
                                </div>
                                <div class="overlay" :class="{ 'show': isOpenRight }" @click="isOpenRight = false">
                                </div>
                            </div>
                        </a>
                    </li>
                <li class="nav-drop-wrap res-link">
                    <a class="nav-icon-link has-ripple drop-indicator navDropToggler" href="javascript:void(0)">
                        <span class="badge badge-secondary badge-pill noti-badge">99</span>
                        <div x-data="{ isOpenRight: false }">
                            <i class='bx bx-cart-alt' @click="isOpenRight = true"></i>
                            <div class="offcanvas offcanvas-right" :class="{ 'open': isOpenRight }">
                                <div class="offcanvas-header">
                                    Add to Cart
                                    <button class="btn-close" @click="isOpenRight = false"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <div class="items d-flex">
                                        <div class="check-item">
                                            <label class="check check-secondary"><input type="checkbox" /></label>
                                        </div>
                                        <img src="/assets/qetah/images/nike-product.jpg" alt="" class="offcanvas-image">
                                        <div class="text">
                                        <p class="offcanvas-title">Nike Air Space X</p>
                                        <div class="quantity-counter">
                                                <p class="price">$523.00</p>
                                                <div class="counter">
                                                    <button class="btn btn-light btn-icon btn-circle btn-circle-sm bx bx-minus counter-decrement decrement"></button>
                                                    <input class="counter-value value" type="number" value="0" >
                                                    <button class="btn btn-light btn-icon btn-circle btn-circle-sm bx bx-plus counter-increment increment"></button>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <div class="offcanvas-foot">
                                    <button class="btn btn-remove">Delete</button>
                                    <button class="btn btn-cart">Checkout</button>
                                </div>
                            </div>
                            <div class="overlay" :class="{ 'show': isOpenRight }" @click="isOpenRight = false">
                            </div>
                        </div>
                    </a>
                </li>

                <li class="nav-drop-wrap nav-drop-user" title="Account">
                    <a class="has-ripple drop-indicator navDropToggler" href="javascript:void(0)">
                        <div class="img-no-pp">
                            <img src="/assets/qetah/images/avatar-user.png" alt="User" />
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>