{% extends "templates/primary.html" %}

{% block title %}  QETAH | Blog Details {% endblock %}

{% block content %}
  <!-- Student Header -->
    <div class="content-area" :class="{'shifted-content': isStatic}">
        <div class="container detailed-blogs">
            <main class="blog-detail">
                <h1 class="heading mt-5 mb-3">Blog Details</h1>
                <section
                  data-aos-duration="1000"
                  data-aos="fade-up"
                  data-aos-once="true"
                  data-aos-easing="ease-in-out"
                >
                  <div class="page-head">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="" class="breadcrumb-link">Blogs</a></li>
                        <li class="breadcrumb-item active">blog detail</li>
                    </ol>
                    <h1 class="page-title">
                      <b>Title will goes here. Lessons from the Property Brothers</b>
                    </h1>
                    <div class="media">
                      <a href="javascript:void(0)" class="media-image">
                        <img src="/assets/qetah/images/blogs.jpg" class="image" />
                      </a>
                      <div class="media-body">
                        <h6 class="media-heading">Hassan</h6>
                        <p class="media-description">@hassan</p>
                      </div>
                    </div>
                    <h2 class="page-subtitle">Follow us</h2>
                    <div class="social-group">
                      <a href="#" class="bx bxl-facebook-square social-link"></a>
                      <a href="#" class="bx bxl-twitter social-link"></a>
                      <a href="#" class="bx bxl-google social-link"></a>
                      <a href="#" class="bx bxl-instagram social-link"></a>
                      <a href="#" class="bx bxl-github social-link"></a>
                    </div>
                    <div class="page-image">
                      <img src="/assets/qetah/images/blogs.jpg" class="image" />
                    </div>
                  </div>
                  <div class="blog-details-content">
                    <p>
                      Business is the activity of making one's living or making money by
                      producing or buying and selling product (<strong
                        >goods and services</strong
                      >).Simply put, it is "any activity or enterprise entered into for
                      profit. It does not mean it is a company, a corporation,
                      partnership, or have any such formal organization, but it can range
                      from a street peddler to General Motors."[5] The term is also often
                      used colloquially (<strong
                        >but not by lawyers or public officials</strong
                      >) to refer to a company, but this article will not deal with that
                      sense of the word.
                    </p>
                    <p>
                      Anyone carrying on an activity that earns them a profit is doing
                      <u>business or running a business</u>, and perhaps this is why there
                      is a misconception that business and company is the same thing.<br />
                      A business name structure does not separate the business entity from
                      the owner, which means that the owner of the business is responsible
                      and liable for all debts incurred by the business. If the business
                      acquires debts[,] the creditor or creditors can go after your
                      personal possessions. A business structure does not allow for
                      corporate tax rates. The proprietor is personally taxed on all
                      income from the business.
                    </p>
                    <p>
                      A company on the other hand, is a separate legal entity and provides
                      for limited liability as well as corporate tax rates. A company
                      structure is more complicated and expensive to set up, but offers
                      more protection and benefits for the owner.
                    </p>
                    <blockquote>
                      <p>
                        Weighing in at a whopping 3310g and measuring 38cm in length, the
                        Sigma 500mm f/4 DG OS HSM Sports is an incredibly big and heavy
                        lens indeed, although that does include the non-removable tripod
                        collar.
                      </p>
                      <h5>Jack Daniel's</h5>
                    </blockquote>
                    <p>
                      Corporation: The owners of a corporation have limited liability and
                      the business has a separate legal personality from its owners.
                      Corporations can be either government-owned or privately owned. They
                      can organize either for profit or as nonprofit organizations. A
                      privately owned, for-profit corporation is owned by its
                      shareholders, who elect a board of directors to direct the
                      corporation and hire its managerial staff. A privately owned,
                      for-profit corporation can be either privately held by a small group
                      of individuals, or publicly held, with publicly traded shares listed
                      on a stock exchange.
                    </p>
                    <h3>A privately owned</h3>
                    <ul>
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                      <li>
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </li>
                      <li>Faucibus turpis in eu mi bibendum neque.</li>
                      <li>Neque aliquam vestibulum morbi blandit cursus.</li>
                      <li>Enim nulla aliquet porttitor lacus.</li>
                    </ul>
                    <p>
                      Cooperative: Often referred to as a "co-op", a cooperative is a
                      limited-liability business that can organize as for-profit or
                      not-for-profit. A cooperative differs from a corporation in that it
                      has members, not shareholders, and they share decision-making
                      authority. Cooperatives are typically classified as either consumer
                      cooperatives or worker cooperatives. Cooperatives are fundamental to
                      the ideology of economic democracy.
                    </p>
                  </div>
                  <h4 class="section-subtitle">Related tags</h4>
                  <div class="badges-group">
                    <a href="#" class="badge badge-dark">HTML 5</a>
                    <a href="#" class="badge badge-dark">CSS 3</a>
                    <a href="#" class="badge badge-dark">SCSS</a>
                    <a href="#" class="badge badge-dark">JAVASCRIPT</a>
                    <a href="#" class="badge badge-dark">JQuery</a>
                    <a href="#" class="badge badge-dark">Bootstrap 5</a>
                    <a href="#" class="badge badge-dark">Uikit</a>
                  </div>
                </section>
              </main>
        </div>
          <div class="container Blogs" data-aos="fade-left" data-aos-anchor-placement="center-center">
            <div class="text">
                <h2>Related Blogs</h2>
                <a href="">See more <i class="bx bx-right-arrow-alt"></i></a>
            </div>
            <div class="swiper blog-slider">
                <section class="swiper-wrapper blog-wrap">
                    <div class="swiper-slide blog-section">
                      <article
                        class="card card-blog"
                        data-aos-duration="1000"
                        data-aos="fade-up"
                        data-aos-once="true"
                        data-aos-easing="ease-in-out"
                      >
                        <a class="card-image image-zoom" href="./blog-detail.html">
                          <img src="/assets/qetah/images/blogs.jpg" class="image" loading="lazy" alt="" />
                        </a>
                        <div class="card-body">
                          <span class="card-badge">News</span>
                          <h3 class="card-title">
                            <a href="blog-details.html"
                              >Top 5 technologies in 2023 you should learn</a
                            >
                          </h3>
                          <p class="card-subtitle">24-july-2023</p>
                        </div>
                      </article>
                    </div>
                  </section>
                  <button class="slide-next btn btn-secondary btn-sm bx bx-right-arrow-alt"></button>
                  <button class="slide-prev btn btn-secondary btn-sm bx bx-left-arrow-alt"></button>
                </div>
        </div>
         
{% endblock %}
  {% block scripts %} 

    <script>
        new Swiper('.product-slider', {
    loop: true,
    slidesPerView: 4,
    spaceBetween: 30,
    navigation: {
        nextEl: '.slide-next',
        prevEl: '.slide-prev',
    },
    autoplay: {
        delay: 3000,
        disableOnInteraction: false,
    },
    breakpoints: {
        640: {
            slidesPerView: 1,
            spaceBetween: 20,
        },
        768: {
            slidesPerView: 2,
            spaceBetween: 40,
        },
        1024: {
            slidesPerView: 3,
            spaceBetween: 50,
        },
    },
});


new Swiper('.mySwiper', {
    loop: true,
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
    },
    autoplay: {
        delay: 4000,
        disableOnInteraction: false,
    },
});

new Swiper('.blog-slider', {
    slidesPerView: 1,
    pagination: true,
    navigation: {
        nextEl: '.slide-next',
        prevEl: '.slide-prev',
    },
    breakpoints: {
        340: {
            slidesPerView: 1,
        },
        576: {
            slidesPerView: 4,
        },
        768: {
            slidesPerView: 4,
        },
        992: {
            slidesPerView: 4,
        },
    },
    autoplay: {
        delay: 3000,
        disableOnInteraction: false,
    },
    loop: true,
});
    </script>
    
        <script>
       var customerReviewSwiper = new Swiper('.slide-container', {
    loop: true,
    slidesPerView: 1,  // Ensures only one slide is shown at a time
    autoplay: {
        delay: 3000,
        disableOnInteraction: false,
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
});


        </script>
     <script>
        AOS.init({
  duration: 600, // Duration of animation
  easing: 'ease-in-out', // Animation easing
  once: true // Animation only happens once
});
    </script>
    <!-- counter -->
   <script> 
  document.querySelectorAll('.quantity-counter').forEach(counter => {
    let count = 0;

    const counterValue = counter.querySelector('.counter-value');
    const counterIncrement = counter.querySelector('.counter-increment');
    const counterDecrement = counter.querySelector('.counter-decrement');

    counterIncrement.addEventListener('click', () => {
        count++;
        counterValue.value = count;
    });

    counterDecrement.addEventListener('click', () => {
        if (count > 0) { // Only decrement if count is greater than 0
            count--;
            counterValue.value = count;
        }
    });
});
   </script>
   <!-- aside -->
   <script>
    const body = document.querySelector("body"),
  sidebar = document.querySelector(".sidebar"),
  toggle = document.querySelector(".toggle"),
  modeSwitch = document.querySelector(".toggle-switch"),
  modeText = document.querySelector(".mode-text"),
  searchBtn = document.querySelector(".search-bar");

modeSwitch.addEventListener("click", () => {
  body.classList.toggle("dark");
  //   document.querySelector(".mode-text").innertext=""

  if (body.classList.contains("dark")) {
    modeText.innerText = " Light Mode ";
  } else modeText.innerText = " Dark Mode ";
});

toggle.addEventListener("click", () => {
  sidebar.classList.toggle("close");
});

searchBtn.addEventListener("click", () => {
  sidebar.classList.remove("close");
});
</script>
{% endblock %}
